
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// layout style
@import "layout";

.navbar.navbar-dark  {
  background-color: $blue !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
